﻿<p style="text-align:center">
    <strong><span style="font-size: 20px; font-family: 宋体;">老虎大学用户注册协议</span></strong>
</p>
<p style="line-height:150%">
    <span style=";font-family:Calibri;font-size:14px">&nbsp;</span>
</p>
<p style="text-indent:28px;line-height:150%">
    <span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">欢迎申请并使用杭州微诚教育咨询有限公司（下列简称</span>“微诚”）所提供的老虎大学<span style="font-family:Calibri">APP</span></span>
</p>
<p style="line-height:150%">
    <span style="font-size: 14px; font-family: 宋体;">服务。</span><span style="color: rgb(255, 0, 0);"><span style="font-family: 宋体; font-size: 16px;"><span style="font-family: 宋体;">特别提醒，您（以下又称为</span>“用户”）点击同意本服务条款，即视为您确认自己已具有与享受<span style="font-family: Calibri;">A</span></span><span style="font-family: Calibri; font-size: 14px;">PP</span><span style="font-size: 16px; font-family: 宋体;">提供的服务相对应的权利能力和行为能力，并能够独立承担法律责任。</span></span><span style="font-size: 14px; font-family: 宋体;">请您仔细阅读以下全部内容</span><strong><span style="font-size: 14px; font-family: 宋体;">（特别是以粗体下划线加粗标注的内容）</span></strong><span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">。</span> <span style="font-family:宋体">如用户不同意本服务协议的任意内容，请勿注册或使用服务。如用户通过进入注册程序并确认点击</span>“注册”，即表示用户与本公司已达成协议，自愿接受本服务协议的所有内容。此后，用户不得以未阅读、或不了解本服务协议内容作任何形式的抗辩。</span>
</p>
<p style="line-height:150%">
    <span style=";font-family:Calibri;font-size:14px">&nbsp;</span>
</p>
<p style="line-height:150%">
    <strong><span style="font-family: 宋体;line-height: 150%;font-size: 16px"><span style="font-family:宋体">一、协议内容的确认、生效及修改：</span> </span></strong>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">1<span style="font-family:宋体">、本协议内容包括协议正文及所有微诚将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">2<span style="font-family:宋体">、用户在使用微诚提供的各项服务的同时，承诺接受并遵守各项相关规则的规定。微诚有权根据需要不时地制定、修改本协议或各类规则，如本协议有任何变更，微诚将在老虎大学</span><span style="font-family:Calibri">App</span><span style="font-family:宋体">上以公告形式通知用户，用户应当及时查阅了解最新修改的内容。如用户不同意相关变更，必须立即以书面通知的方式终止本协议。任何修订和新规则一经在老虎大学</span><span style="font-family:Calibri">App</span><span style="font-family:宋体">上公布即自动生效，成为本协议的一部分。登录或继续使用服务将表示用户接受经修订的协议。除另行明确声明外，任何使服务范围扩大或功能增强的新内容均受本协议约束。 </span></span>
</p>
<p style="line-height:150%">
    <strong><span style="font-family: 宋体;font-size: 14px">3<span style="font-family:宋体">、用户在线接受本协议将视为对本协议全部内容和条款及后续在老虎大学</span><span style="font-family:Calibri">APP</span><span style="font-family:宋体">上公布的更新版本的同意和接受。</span></span></strong><span style=";font-family:宋体;font-size:14px">&nbsp;</span>
</p>
<p style="line-height:150%">
    <span style=";font-family:Calibri;font-size:14px">&nbsp;</span>
</p>
<p style="line-height:150%">
    <strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">二、服务内容、范围</span></strong>
</p>
<p style="text-indent:28px;line-height:150%">
    <span style=";font-family:宋体;font-size:14px">1<span style="font-family:宋体">、微诚目前向用户提供的服务包括但不限于观看视频、购买课程、获取直播课程信息准时参加直播课程学习、获取相关学习资料等。微诚运用自己的信息网络渠道通过国际互联网络为用户提供各项服务。用户必须：</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>1<span style="font-family:宋体">）自备相关设备，如手机。</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>2<span style="font-family:宋体">）承担个人上网相关的费用。</span></span>
</p>
<p style="text-indent:28px;line-height:150%">
    <strong><span style="font-family: 宋体;font-size: 14px">2<span style="font-family:宋体">、<span style="font-size: 14px; font-family: 宋体; color: rgb(255, 0, 0);">微诚保留随时变更、中断或终止部分或全部网络服务的权利。</span></span></span></strong>
</p>
<p style="line-height:150%">
    <strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">三、用户帐号注册规则</span></strong>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">1<span style="font-family:宋体">、帐号注册资料包括但不限于用户提交录入的手机号码、密码、验证码等信息以及更新注册信息时所填写的所有信息。</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">2<span style="font-family:宋体">、用户在老虎大学</span><span style="font-family:Calibri">APP</span><span style="font-family:宋体">上注册帐号时承诺遵守法律法规、国家利益、公民合法权益、公共秩序、社会主义道德和信息真实性等原则，不得在帐号注册资料中出现违法和不良信息，且用户保证其在注册和使用帐号时，不得有以下情形：</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>1<span style="font-family:宋体">）违反宪法或法律法规规定的；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>2<span style="font-family:宋体">）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>3<span style="font-family:宋体">）损害国家荣誉和利益的，损害公共利益的；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>4<span style="font-family:宋体">）煽动民族仇恨、民族歧视，破坏民族团结的；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>5<span style="font-family:宋体">）破坏国家宗教政策，宣扬邪教和封建迷信的；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>6<span style="font-family:宋体">）散布谣言，扰乱社会秩序，破坏社会稳定的；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>7<span style="font-family:宋体">）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>8<span style="font-family:宋体">）侮辱或者诽谤他人，侵害他人合法权益的；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>9<span style="font-family:宋体">）含有法律、行政法规禁止的其他内容的。</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">3<span style="font-family:宋体">、用户同意遵守中华人民共和国相关法律法规的所有规定，并对以任何通过用户的帐号和密码来使用老虎大学</span><span style="font-family:Calibri">APP</span><span style="font-family:宋体">服务的任何行为及其结果承担全部责任。</span></span><strong><span style="font-size: 14px; font-family: 宋体;">如用户的行为违反国家法律和法规的任何规定，有可能构成违法犯罪的，用户将被追究法律责任，同时微诚亦有权不经任何事先通知而暂停、或终止向用户提供服务。</span></strong>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">4<span style="font-family:宋体">、用户同意，其提供的真实、准确、合法的老虎大学帐号注册资料是作为认定用户与其老虎大学帐号的关联性以及用户身份确认的唯一证据。</span></span><strong><span style="font-size: 14px; font-family: 宋体;">若本公司有合理理由怀疑用户提交的相关资料或信息属于恶意程序或恶意操作，则本公司有权暂停或终止向用户的帐号提供服务，并有权拒绝用户于现在和将来使用本公司所提供服务之全部或任何部分。</span></strong>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">5<span style="font-family:宋体">、为使用户及时、全面了解微诚提供的各项服务，用户同意，本公司可以多次、长期向用户发送各类商业性短信息或消息而无需另行获得用户的特别同意。</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">6<span style="font-family:宋体">、用户同意与注册、使用老虎大学帐号相关的一切资料、数据和记录，包括但不限于老虎大学帐号、注册资料、所有登录和操作记录和相关的使用统计数字、产品客户服务记录等归微诚所有。发生争议时，用户同意以微诚的系统数据为准。</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:Calibri;font-size:14px">&nbsp;</span>
</p>
<p style="line-height:150%">
    <strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">四、帐号、密码及相关安全注意事项</span></strong>
</p>
<p style="line-height:150%">
    <span style="font-family:宋体;font-size:14px">1、<span style="font-family:宋体">在完成微诚要求的注册程序并成功注册之后，用户可使用帐号和密码，登录并使用微诚提供的在老虎大学</span>APP<span style="font-family:宋体">上的各项服务。</span></span>
</p>
<p style="line-height:150%">
    <span style="font-family:宋体;font-weight:bold;font-size:14px">2、</span><strong><span style="font-size: 14px; font-family: 宋体;">用户的账号和密码仅由初始申请注册人使用，用户不得将自己的账号或密码有偿或无偿以转让、出借、授权等方式提供给第三人操作和使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。</span></strong>
</p>
<p style="line-height:150%">
    <span style="font-family:宋体;font-weight:bold;font-size:14px">3、</span><strong><span style="font-size: 14px; font-family: 宋体;">用户有义务保证账号和密码的安全，用户利用该账号所进行的一切活动引起的任何损失，由用户自行承担全部责任，微诚不承担任何责任。用户应对用户所有通过帐号及密码所做的操作、所进行的活动负完全的责任</span></strong><span style="font-size: 14px; font-family: 宋体;">。用户同意：</span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>1<span style="font-family:宋体">）用户一旦发其老虎大学帐号遭到未获授权的使用，或者发生其它任何安全问题时，用户将立即通知微诚，并且立即修改密码并妥善保管；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>2<span style="font-family:宋体">）微诚一旦发现用户的帐号存在异常状况的</span><span style="font-family:Calibri">(</span><span style="font-family:宋体">包括但不限于异地登陆、</span><span style="font-family:Calibri">IP</span><span style="font-family:宋体">地址异常变动、发送注册信息变更请求等</span><span style="font-family:Calibri">)</span><span style="font-family:宋体">，则微诚有权依据其合理判断采取相应措施</span><span style="font-family:Calibri">(</span><span style="font-family:宋体">包括但不限于要求用户进行实名认证等</span><span style="font-family:Calibri">)</span><span style="font-family:宋体">以保护用户帐号安全；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>3<span style="font-family:宋体">）若用户未保管好自己的帐号和密码，由此而产生的任何损失或损害，微诚不承担任何责任；因此对您、微诚或其他第三方造成任何损害的，将由您负全部责任。</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
</p>
<p style="line-height:150%">
    <strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">五</span></strong><strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">、服务条款的修改</span></strong>
</p>
<p style="text-indent:28px;line-height:150%">
    <span style="color: rgb(255, 0, 0);"><span style="font-size: 14px; font-family: 宋体;">微诚</span><span style="font-family: 宋体; font-size: 14px;"><span style="font-family: 宋体;">有权不时对本服务条款进行修改，服务条款一旦发生变动，微诚将在</span>APP<span style="font-family: 宋体;">平台统一公示相关修改内容。</span></span><strong><span style="font-size: 14px; font-family: 宋体;">如果您不接受修改，请您及时注销您的账号</span></strong><span style="font-size: 14px; font-family: 宋体;">；如果您继续使用微诚的服务，则视为您同意对微诚服务条款的修改。</span></span>
</p>
<p style="text-indent:28px;line-height:150%">
    <span style="font-size: 14px; color: rgb(255, 0, 0); font-family: 宋体;">服务条款一旦发生变动，用户要继续使用微诚各项服务需要确认如下两方面内容：</span>
</p>
<p style="line-height:150%">
    <span style="color: rgb(255, 0, 0); font-family: 宋体; font-size: 14px;"><span style="color: rgb(255, 0, 0); font-family: 宋体;">（</span>1<span style="color: rgb(255, 0, 0); font-family: 宋体;">）确认微诚服务条款及其变动。</span></span>
</p>
<p style="margin-left:0;text-indent:0;line-height:150%">
    <span style="color: rgb(255, 0, 0); font-family: 宋体; font-size: 14px;"><span style="color: rgb(255, 0, 0); font-family: 宋体;">（</span>2<span style="color: rgb(255, 0, 0); font-family: 宋体;">）同意接受所有的服务条款限制。</span></span>
</p>
<p style="margin-left:0;text-indent:0;line-height:150%">
    <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
</p>
<p style="line-height:150%">
    <strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">六、</span></strong><strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">隐私政策</span></strong>
</p>
<p style="text-indent:28px;line-height:150%">
    <span style="font-size: 14px; font-family: 宋体;">保护用户隐私是微诚的一项基本政策，微诚保证不对外公开或向第三方提供用户的注册资料及用户在使用网络服务时存储在本网站内的非公开内容，但下列情况除外：</span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>1<span style="font-family:宋体">）事先获得用户的书面明确授权；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>2<span style="font-family:宋体">）根据有关的法律法规要求；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>3<span style="font-family:宋体">）按照相关政府主管部门的要求；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>4<span style="font-family:宋体">）为维护社会公众的利益；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>5<span style="font-family:宋体">）为维护本网站的合法权益；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:Calibri;font-size:14px">&nbsp;</span>
</p>
<p style="line-height:150%">
    <strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">七</span></strong><strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">、知识产权保护</span></strong>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">1<span style="font-family:宋体">、微诚向用户提供的服务包括但不限于：文字、软件、图片、图表、音频、视频等。所有这些内容均属于微诚所有，并受版权、商标、专利和其它财产所有权法律的保护。用户只能在微诚授权下才能为自用目的合理使用这些内容，而不能擅自复制、再造这些内容、或创造与这些内容有关的衍生作品或产品。</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">2<span style="font-family:宋体">、“微诚”、“老虎大学”等，以及微诚的其他标志及产品、服务的名称，均为微诚之商业标识（以下简称“微诚标识”）。未经微诚事先书面同意，用户不得将微诚标识以任何方式展示或使用或作其他处理，也不得向他人表明或误导他人相信用户有权展示、使用、或其他有权处理微诚标识。</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:Calibri;font-size:14px">&nbsp;</span>
</p>
<p style="line-height:150%">
    <strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">八</span></strong><strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">、针对付费类课程产品和服务的特别约定</span></strong>
</p>
<p style="text-indent:28px;line-height:150%">
    <span style="font-size: 14px; font-family: 宋体;">微诚基于自身的经营自主权，自主决定向用户提供丰富的课程产品和服务项目供用户选择，用户可根据自身实际需求决定选择免费服务项目或是有偿、付费服务项目。针对有偿课程产品及服务项目，用户请注意下述特别事项：</span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">1<span style="font-family:宋体">、购买及使用：</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>1<span style="font-family:宋体">）微诚在老虎大学</span><span style="font-family:Calibri">APP</span><span style="font-family:宋体">上发布的有偿课程将采用整体购买的方式，即用户只需购买一次，就可以学习该课程所有已发布或即将发布的课时。已购买的有偿课程，用户可以自己重复学习，无需再次付费。</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>2<span style="font-family:宋体">）用户可通过老虎大学</span><span style="font-family:Calibri">APP</span><span style="font-family:宋体">订购微诚课程产品、</span><span style="font-family:Calibri">Bop</span><span style="font-family:宋体">训练包等，并完成费用支付。支付完成后用户即可根据所购买课程享受微诚提供的各项服务。微诚针对部分课程，可能会需要向用户邮寄提供教材、讲义等课程资料，因此请用户务必仔细核对收货人、收货地址及联系电话等信息。收货人与用户本人不一致的，收货人的行为和意思表示即视为用户的行为和意思表示，用户应对收货人的行为及意思表示的法律后果承担连带责任。</span></span>
</p>
<p style="line-height:150%">
    <strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">（</span>3<span style="font-family:宋体">）用户购买的课程与用户账号以及用户购买时使用的设备同时绑定，用户更换设备造成的数据丢失，微诚不承担责任。用户购买的课程、</span><span style="font-family:Calibri">Bop</span><span style="font-family:宋体">训练包在用户更换设备后，需要重新购买。</span></span></strong>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">（</span>4<span style="font-family:宋体">）用户的账号和密码仅由初始申请注册人使用。用户在享受直播课程服务过程中，应自觉维护直播课堂秩序，不得作出、参与任何影响课堂正常秩序的行为。</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">2<span style="font-family:宋体">、退款：</span></span>
</p>
<p style="line-height:150%">
    <strong><span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">用户缴纳的所有购买课程、</span>Bop<span style="font-family:宋体">训练包的费用在任何情况下均不会退还或部分退还给用户。</span></span></strong>
</p>
<p style="line-height:150%">
    <strong><span style="font-family: 宋体;font-size: 14px">&nbsp;</span></strong>
</p>
<p style="line-height:150%">
    <strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">九</span></strong><strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">、不可抗力</span></strong>
</p>
<p style="text-indent:28px;line-height:150%">
    <span style=";font-family:宋体;font-size:14px">“不可抗力”指超出本协议双方控制范围，无法预见、无法避免且无法克服、使得本协议任一方部分或者全部不能履行本协议的事件。这类事件包括但不限于地震、台风、洪水、火灾、战争、罢工、暴动、网络中断、政府行为、法律规定或其适用规则的变化、政策调整或变化，或者其他任何无法预见、避免或者控制的事件。</span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">1<span style="font-family:宋体">、如任何一方不履行或迟延履行本协议规定的义务是由于不可抗力引发，则该方免除承担违约责任；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">2<span style="font-family:宋体">、不可抗力事由发生后，若有可能，受不可抗力影响的一方应在合理时间内将有关情况及时通知对方。不可抗力因素消除后，曾受不可抗力影响而未能履约的一方应尽最大努力恢复履行其在本协议项下的义务。</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
</p>
<p style="line-height:150%">
    <strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">十</span></strong><strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">、免责与赔偿声明</span></strong>
</p>
<p style="line-height:150%">
    <span style="font-family: 宋体; font-size: 14px; color: rgb(255, 0, 0);">（1）若微诚已经明示其网络服务提供方式发生变更并提醒用户应当注意事项，用户未按要求操作所产生的一切后果由用户自行承担。</span>
</p>
<p style="line-height:150%">
    <span style="font-family: 宋体; font-size: 14px; color: rgb(255, 0, 0);">（2）用户明确同意其使用微诚服务所存在的风险将完全由其自己承担；因其使用微诚服务而产生的一切后果也由其自己承担，微诚对用户不承担任何责任。</span>
</p>
<p style="line-height:150%">
    <span style="font-family: 宋体; font-size: 14px; color: rgb(255, 0, 0);">（3）微诚不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。</span>
</p>
<p style="line-height:150%">
    <span style="font-family: 宋体; font-size: 14px; color: rgb(255, 0, 0);">（4）用户同意保障和维护微诚及其他用户的利益，由于用户登录网站内容违法、不真实、不正当、侵犯第三方合法权益，或用户违反本协议项下的任何条款而给微诚或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。</span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
</p>
<p style="line-height:150%">
    <strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">十一</span></strong><strong><span style="line-height: 150%; font-size: 16px; font-family: 宋体;">、其他</span></strong>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">1<span style="font-family:宋体">、微诚有随时调整各项课程费用收取标准的权利</span><span style="font-family:Calibri">(</span><span style="font-family:宋体">已完成支付的订单不受影响</span><span style="font-family:Calibri">)</span><span style="font-family:宋体">；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">2<span style="font-family:宋体">、微诚有调整课程内容、授课老师的权利；</span></span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">3<span style="font-family:宋体">、微诚不行使、未能及时行使或者未充分行使本协议或者按照法律规定所享有的权利，不应被视为放弃该权利，也不影响微诚在将来行使该权利；</span></span>
</p>
<p style="line-height:150%">
    <strong><span style="font-family: 宋体;font-size: 14px">4<span style="font-family:宋体">、本协议之解释与适用，以及与本协议有关的争议，均应依照中华人民共和国法律予以处理，并以杭州微诚教育咨询有限公司所在地法院管辖。</span></span></strong><span style=";font-family:宋体;font-size:14px">&nbsp;</span>
</p>
<p style="line-height:150%">
    <span style=";font-family:宋体;font-size:14px">5<span style="font-family:宋体">、如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份则仍具有法律效力。&nbsp;</span></span>
</p>
<p>
    <br/>
</p>